@charset "utf-8";
* {
	padding:0px;
	margin: auto;
	box-sizing: border-box;
}

html,
body {
	font-size: 3vh;
	background-color: #222;
}

h1 {
	/*MISSIONS TO SATURN txt*/
	text-shadow: -1px -2px gold,
				2px 2px #000;
	text-align: center;
	color: #eee;
	font-size: 13vh; 
	font-family:Calibri;
  	padding: 75px 0px 100px 0px;
	/* Remember to save this image in folder and change address in HTML*/
}

h3 {
	/*JUST THE FACTS txt*/
	text-align: left;
	color: #eee;
	font-family: Calibri;
	padding: 40px 5px 40px 10px; 
  	font-size: 44px;
  	margin: 0;
}

p {
	/*Paragraphs following H3*/
	text-align: left;
	color: #d4d4d4;
	font-family: Verdana;
	font-size: 20px;
	padding: 10px 10px 35px 10px; 
}

nav a,
nav a:link,
nav a:visited {
	/*Nav menu text*/
	text-align: center;
	color:gold;
	font-family: Calibri;
	font-size: 29px;
	text-decoration: none;
}

nav a:hover,
nav a:active {
	/*When hover/click nav menu*/
	color: #000;
  text-align: center;
}

nav ul {
	/*Nav menu background style*/
	list-style-type: none;
	overflow: auto;
	text-align: center;
	background: #444;
	border-top: 10px solid;
	border-bottom: 13px solid;
	border-color: #666;
  margin: 0; 
  padding: 0px 10px 0px 10px;
}

nav li{
	float: left;
  padding: 12px 50px 12px 11px;
 
  
	/*Position of menu*/
}

#wrapper {
	/*Inner box everything sits in, photo align with this wrap*/
  width:930px;
  padding: 0px 50px 0px 50px
}

#masthead {
	/*Missions header with photo and background photo
	Insert saturn background photo here? (!)
	*/
	background-image: url(http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg);
	background-size: 833px;
	padding: 0px 20px 20px 20px;
	height: 270px;
}

#main {
	/*All text just the facts + paragraphs following
	
	*/
  
  background-color:#444;
  padding: 0px 20px 20px 20px;
  
}

#footer {
  background-color: #333;
  padding: 10px 20px 10px 20px;
}

#footer p{
  color: #666;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
}

#footer a{
	color: gold;
  padding: 10px 10px 10px 1px;
  
  
}